{{#each this}}
    {{#if (contains this "c_childrenTopics")}}
        <div class="bc-link">
            <a href={{this.uid}}>{{this.name}}</a>
            <img src="images/right-arrow.svg" width="11" height="11"> 
        </div> 
        {{>getParent this.c_parentTopics}}
    {{else}}
        <div class="bc-link">
            <a href={{this.uid}}>{{this.name}}</a>
            <img src="images/right-arrow.svg" width="11" height="11"> 
        </div>   
    {{/if}}
{{/each}}