{{#each this}}
    <script>console.log("{{this.name}}");</script>
    {{#if (contains this "c_relatedTopics")}}
        {{#each c_relatedTopics}}
            <script>console.log("related topic: {{name}}");</script>
            {{#if (compare name ../name )}}
                <li class="pl-1 border-l-4 border-black font-extrabold hover:underline">{{name}}</li>
                {{#each c_childrenTopics}}
                    <li class="pl-5 hover:underline"><a class="airbnb-link" href={{uid}}>{{name}}</a></li>
                {{/each}}
            {{else}}
                <li class="pl-1 font-semibold hover:underline"><a class="airbnb-link" href={{uid}}>{{name}}</a></li>
            {{/if}}
        {{/each}}
    {{else}}
        {{>getHelpTopics this.c_parentTopics}}
    {{/if}}
{{/each}}