---
{
    "stream": {
        "$id": "topic-stream",
        "source": "knowledgeGraph",
        "destination": "pages",
        "fields": [
            "id", 
            "uid", 
            "name",
            "slug",
            "c_childrenTopics.name",
            "c_childrenTopics.uid",
            "c_childrenTopics.c_childrenTopics.name",
            "c_childrenTopics.c_childrenTopics.uid",
            "c_relatedTopics.name",
            "c_relatedTopics.uid",
            "c_relatedTopics.c_childrenTopics.name",
            "c_relatedTopics.c_childrenTopics.uid",
            "c_parentTopics.name",
            "c_parentTopics.uid",
            "c_parentTopics.c_relatedTopics.name",
            "c_parentTopics.c_relatedTopics.uid",
            "c_parentTopics.c_relatedTopics.c_childrenTopics.name",
            "c_parentTopics.c_relatedTopics.c_childrenTopics.uid",
            "c_parentTopics.c_parentTopics.name",
            "c_parentTopics.c_parentTopics.uid"
        ], 
        "filter" : {
            "savedFilterIds": [
                "707333788"
            ]
        }
    },
    "urlFormat": "{{uid}}"
}
---
<!DOCTYPE html>
<html lang="en">
    <head>
        {{>head }}
        <title>{{name}} </title>
        {{!-- {{>schema}} --}}
        <link rel="shortcut icon" type="image/x-icon" href="https://a0.muscache.com/airbnb/static/logotype_favicon-21cc8e6c6a2cca43f061d2dcabdf6e58.ico">
    </head>
    <body>      
            <div class="w-full">
                {{>nav}}
                <div class="centered-container">
                    <div class="section">
                        {{>breadcrumbs this}}
                    </div>
                    <div class="grid grid-cols-1 md:grid-cols-3 auto-cols-min">
                        <div class="md:col-span-1">
                            <ol class="hidden md:block md:space-y-3 md:px-10">
                                {{#if (compare c_parentTopics.[0].name "Help Center")}}
                                    <script>console.log("match");</script>
                                    {{>tableOfContents}}
                                {{else}}
                                    {{>getHelpTopics c_parentTopics}}
                                {{/if}}
                            </ol>
                        </div> 
                        <div class="md:col-span-2 grid gap-y-5">
                            <h1 class=""> {{name}} </h1>
                            <div class="grid gap-y-3">
                                {{#each c_childrenTopics}}
                                    <div class="text-2xl pt-5">{{this.name}}</div>
                                    {{#if (contains this "c_childrenTopics")}}
                                        <div class="grid gap-y-3">
                                        {{#each this}}
                                            {{#each this}}
                                                <div class="topic-item items-center gap-x-2 hover:underline">
                                                    <a class="airbnb-link" href={{uid}}>
                                                        {{name}}
                                                        <img style="display: inline;" src="/images/right-arrow.svg" width="16px" height="16px">
                                                    </a>
                                                </div>    
                                            {{/each}}
                                        {{/each}}
                                        </div>
                                    {{else}}
                                        <div class="inline-block items-center gap-x-2 hover:underline">
                                            <a class="airbnb-link" class="topic-item" href={{this.uid}}>
                                                {{this.name}}
                                                <img style="display: inline;" src="/images/right-arrow.svg" width="16px" height="16px">
                                            </a>
                                        </div>
                                    {{/if}}
                                {{/each}}
                            </div>
                        </div>
                    </div>

                    <div class="section w-full border-t-2 font-semibold text-airbnb-teal py-16">
                        <a href="https://www.airbnb.com/help/feedback">Give us feedback</a>
                    </div>


         
                </div>
                <div class="w-full bg-gray-100">
                    <div class="centered-container">
                        {{>footer}}
                    </div>
                </div>
            </div>
    </body> 
</html>